<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177376408422-5qj500ltll4n91hudicvkkflp13gr2c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177376408422-5qj500ltll4n91hudicvkkflp13gr2c9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177376408422-vi52j5gf50mscqlmmg1acco2gq651cf9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCElcnec7bKAqW4K_c98H9tBZOpNUyhOE</string>
	<key>GCM_SENDER_ID</key>
	<string>177376408422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cipher-schools</string>
	<key>PROJECT_ID</key>
	<string>cipher-schools-38851</string>
	<key>STORAGE_BUCKET</key>
	<string>cipher-schools-38851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177376408422:ios:62d9f8dda80632752f4ea7</string>
</dict>
</plist>